# MQTT Communication
paho-mqtt==1.6.1

# Computer Vision and Image Processing
opencv-python>=4.8.1.78
numpy>=1.26.0

# Testing Frameworks
pytest>=7.4.2
hypothesis>=6.88.1

# Additional Testing Support
pytest-mock>=3.11.1

# Configuration Management
pyyaml==6.0.1

# GUI Framework
PySide6>=6.5.0

# Logging
colorlog==6.7.0